<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/account/expenses" style="color: beige;background:black;border-radius: 30%;">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="expense-background"></div>
  <!--Skeleton-->
  <div *ngIf="!data">
    <h3>
      <b><u></u></b>
    </h3>
    <h1>
      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
    </h1>
    <br />
    <h3>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text><br />
    </h3>
    <ion-row *ngFor="let item of deadData">
      <ion-col>
        <ion-item>
          <ion-skeleton-text animated style="width: 100%; size: 25px"><br /><br /></ion-skeleton-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="data">
    <ion-row>
      <ion-col>
        <h3>
          <b><u>Expense Details</u></b>:&nbsp;(Click To Edit)
        </h3>
        <h5 routerLink="{{currentRoute}}/report-details/{{expenseReport.id}}">
          <b>On Report:</b>
          <ion-button fill="clear" style="margin-bottom: 15px">{{expenseReport.reportName}}&nbsp;<ion-icon name="eye">
            </ion-icon>
          </ion-button>
        </h5>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" expand="full" color="secondary" routerLink="{{currentRoute}}/add-image">
          <ion-icon slot="start" name="camera"></ion-icon>
          Expense Images
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-list inset>
      <ion-row>
        <ion-col>
          <ion-item (click)="editExpense('expenseName')"><b>Name:&nbsp;</b>{{expenseName}}</ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item (click)="editExpense('expenseCost')"><b>Cost:&nbsp;</b>${{expenseCost}}</ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item (click)="editExpense('expenseCategory')"><b>Category:&nbsp;</b>{{expenseCategory}}</ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item><b>Created By:&nbsp;</b>
            <ion-button style="margin-bottom: 1px" fill="clear"
              routerLink="{{currentRoute}}/student-details/{{expenseCreatedBy.id}}">
              {{expenseCreatedBy.firstName}}&nbsp;{{expenseCreatedBy.lastName}}&nbsp;<ion-icon name="eye">
              </ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item><b>Created:&nbsp;</b>{{expenseCreated}}</ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button shape="block" color="danger" (click)="deleteAreYouSure()">Delete Expense</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
</ion-content>
