<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/reports-manager/students"
          style="color: beige; background: black; border-radius: 30%"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end"> </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar" />
  </div>
  <ion-row *ngIf="data">
    <ion-col style="text-align: center">
      <h2><b>Student Details</b></h2>
      <ion-badge *ngIf="student.isOnline" color="success"> ONLINE </ion-badge>
      <ion-badge *ngIf="!student.isOnline" color="medium"> OFFLINE </ion-badge>
      <h4 *ngIf="!student.isOnline">
        L|O: <span *ngIf="student.lastLogin">{{student.lastLogin}}</span><span *ngIf="!student.lastLogin">N/A</span>
      </h4>
    </ion-col>
  </ion-row>
  <ion-list inset>
    <!--Skeleton-->
    <div *ngIf="!data">
      <h3>
        <b><u></u></b>
      </h3>
      <h1>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </h1>
      <br />
      <h3>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text><br />
      </h3>
      <ion-row *ngFor="let item of deadData">
        <ion-col>
          <ion-item>
            <ion-skeleton-text animated style="width: 100%; size: 25px"><br /><br /></ion-skeleton-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="data">
      <ion-row>
        <ion-col>
          <h3>
            <u><b>Student Details</b></u>:
          </h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item><b>Name:&nbsp;</b>{{student.firstName}}
            {{student.lastName}}</ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item><b>Email:&nbsp;</b>{{student.email}}&nbsp;<ion-icon *ngIf="student.isVerified==true"
              style="color: green" name="checkmark-circle"></ion-icon>
            <ion-icon name="checkmark-circle" *ngIf="student.isVerified==false" style="color: firebrick"></ion-icon>
            &nbsp;
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item><b>Student Created:&nbsp;</b> {{student.created}}</ion-item>
        </ion-col>
      </ion-row>

      <b>Current Expense Report(s):&nbsp;</b>
      <ion-item  *ngFor="let report of studentPersonalReportsList" >
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-button fill="clear" routerLink="{{currentRoute}}/report-details/{{report.reportId}}">
                {{report.reportName}}&nbsp;<ion-icon name="eye">
                </ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-item>

      <!--Student Expenses Section-->
      <ion-row>
        <ion-col>
          <h3>
            <u><b>Student Expenses</b></u>:&nbsp;({{studentExpenses.length}})&nbsp;{{totalCurrencyString}}
          </h3>
        </ion-col>
      </ion-row>

      <ion-button routerLink="{{currentRoute}}/student-expenses/add" shape="round" fill="outline">
        <ion-icon name="add-outline"></ion-icon>Add Expense For Student
      </ion-button>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" size-md="6" *ngFor="let expense of studentExpenses">
            <ion-card class="speaker-card">
              <!--<ion-card-header>-->
              <ion-item detail="false" lines="none" class="speaker-item"
                routerLink="/{{currentRoute}}/student-expenses/expense-details/{{expense.id}}">
                <ion-avatar slot="start">
                  <img src="../../../../assets/img/money.png" [alt]="'Expense Image'" />
                </ion-avatar>
                <ion-label>
                  <h2>{{expense.expenseName}}</h2>
                  <p>${{expense.expenseCost}}</p>
                  <p>{{expense.created}}</p>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    </div>
  </ion-list>

  <ion-button *ngIf="data" expand="full" shape="block" color="danger" (click)="removeStudent()">Remove Student</ion-button>
</ion-content>
